.accordion {
  border-radius: 12px;
  display: none;
  background-color: var(--forgeground-color);
}
.accordion__wrapper {
  display: flex;
  margin-top: 20px;
  border-radius: 12px 12px 0px 0px;
  padding: 15px 20px;
}

.accordion__heading {
  display: flex;
  flex: 1;
  cursor: pointer;
  color: var(--content-color);
  font-family: "Varela Round", sans-serif;
  align-items: center;
  justify-content: space-between;
}
.accordion__solution {
  padding: 0px 20px;
  padding-bottom: 20px;
  font-size: 18px;
  font-weight: 500;

  color: var(--content-color);
  transition: all 0.3s ease-in-out;
}

.accordion__heading .MuiSvgIcon-root {
  min-width: 40px;
  height: 40px;
  border-radius: 50%;
  background: linear-gradient(
    180deg,
    var(--forgeground-color),
    var(--background-color)
  );
  /* background: linear-gradient(rgb(132, 101, 255), rgb(89, 55, 226)); */
}
