.faqSection {
  padding: 50px 150px;
  /* margin-top: 50px; */
  margin: 100px 0px;
}
/* .faqSection .heading {
  display: none;
} */
@media screen and (max-width: 768px) {
  .faqSection {
    padding: 0px 20px;
  }
}
@media screen and (max-width: 468px) {
  .faqSection {
    padding: 0px 10px;
  }
}
