.features {
  padding: 0px 150px;
  scroll-snap-align: start;

  margin: 100px 0px;
}
.features__cardHolder {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  justify-content: space-between;
}
/* .features .heading {
  display: none;
} */
@media screen and (max-width: 768px) {
  .features {
    padding: 0px 20px;
  }
}
@media screen and (max-width: 468px) {
  .features {
    padding: 0px 10px;
  }
}
