.dashBoard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 94vh;
  padding: 0px 100px;
  transition: background 0.5s all ease-in-out;
  background: url("https://www.scorchsoft.com/public/general/ios-android-app-dev-comp5.png");
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 50%;
  background-color: var(--background-color);
}
.dashBoard__content {
  max-width: 450px;
}
.dashBoard__content h5 {
  font-family: "Varela Round", sans-serif;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: var(--b2-color);
}
.dashBoard__content h1 {
  margin-bottom: 10px;
  color: var(--b1-color);
  font-size: 44px;
  font-family: "Varela Round", sans-serif;
}
.dashBoard__content p {
  line-height: 180%;
  font-size: 19px;
  color: var(--b2-color);
  font-family: "Varela Round", sans-serif;
}
.dashBoard__content button {
  margin-top: 30px;
  background-color: var(--b2-color);
  height: 50px;
  font-weight: 500;
  color: #fff;
  width: 180px;
  padding: 10px 15px;
  font-family: "Varela Round", sans-serif;
  box-shadow: rgb(14 10 31 / 25%) 0px 16px 49px;
  transition: transform 200ms ease 0s;
  cursor: pointer;
}
.dashBoard__contentBtn {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .dashBoard {
    background-image: unset;
    padding: 0px 20px;
  }
  .dashBoard__content {
    max-width: unset;
  }
}

/* https://png.pngtree.com/thumb_back/fh260/back_our/20190620/ourmid/pngtree-flat-purple-fresh-banner-image_167379.jpg */
