html {
  scroll-behavior: smooth;
}
.app {
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
  background-color: var(--background-color);
}
:root {
  --animate-delay: 1s;
  --animate-duration: 1s;
  --background-color: #040b20;
  --forgeground-color: #11172b;
  --content-color: rgba(255, 255, 255, 1);
}
